*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn{
    height: 60%;

}

header{
    min-height: 10vh;
}
main{
    min-height: 80vh;
}

footer{
    min-height: 10vh;
}

.d-block{
    height: 25dvh;
    object-fit: cover;
    object-position: 25%;
 
    
}

.nav-item:hover{
    box-shadow: 1px 6px 10px rgb(80, 82, 79);
}

.fondo{
    background-color: #48c9b0;
}

.fondo-navbar{
    background-color: #0b5345;
    color: #fdfefe;
}
.text{
    color: white;
}

#sectionHome{
    display: grid;
    place-content: center;
    padding-bottom: 2rem;
}
.card-text{
    min-height: 71.97px;
}

.card{
    width: 280px;
    min-height: 400px;
}

.card-2{
    transition: 50ms;
}

.card-2:hover{
    box-shadow: 1px 8px 10px rgb(0, 100, 200);
}

.card-img-top{
    height: 204.72px;
}
.pst{
    position: relative;
}

.pst-h2{
    position: absolute;
}

.shadow{
    color: white;
    text-shadow: 2px 1px 1px black;
}

tr{
    height: 40.89px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}